@import './mixins.scss';

.CardBack{
    @include card;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .CardBackTop{
        height: 35px;
        width: 310px;
        background-color: #000;
        margin: 0 -20px;
    }

    .CardBackMiddle{
        .Label{
            text-align: right;
            color: #fff;
            padding:5px;
        }

        .Field{
            color:#000;
            text-align: right;
            background-color: #fff;
            height: 30px;
            width: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 5px;
            font-size: 1.4rem;
        }
    }

    .CardBackBottom{
        .Logo{
            img{
                float:right;
                width: auto;
                height: 30px;
            }
        }
    }


}